.listMargins {
    margin-top: 1rem;

    /* @include xl {
        margin-top: 2rem;
    } */
}

.done,
.delete {
    display: none;
}

.toBuyItems {
    color: red;
    &:hover {
        cursor: pointer;
        color: green;
        .done {
            display: block;
            margin-left: 5px;
        }
    }
}

.boughtItems {
    color: green;
    &:hover {
        cursor: pointer;
        color: red;
        .delete {
            display: block;
            margin-left: 5px;
        }
    }
}