.listMargins {
    margin-top: 30px;
}
.toBuyItems {
    color: red;
    &:hover {
        cursor: pointer;
        color: green;
    }
}
.boughtItems {
    color: green;
    &:hover {
        cursor: pointer;
        color: red;
    }
}